<h2>Editar</h2>

<%= form_for(@user, remote: true, :html => { :role => "form" }) do |f| %>
 <div class="row">
	<div class="col-md-5">    
	 <label class="field">Nome</label>
	 <%= f.text_field :name,:class => "form-control input-md",:maxlength => 150 %> 
	</div>
</div>
<br>
<label for="admin">Administrador</label><br />	
<%= f.check_box :admin,:disabled => @user.id == current_user.id %>
<br>
<br>
  <div class="actions">
    <%= f.submit "Atualizar", :class=>"btn btn-info" %>
  </div>
<% end %>


