
<footer class="centered">
      <div class="container">
        <ul>
          
          <li><%= render 'devise/menu/login_items' %></li>
        </ul>
      </div>
      <br>


Densenvolvido por <a href="mailto:bergsonsud@gmail.com"> Bergson Lima </a><br/>
com Ruby on Rails <%= image_tag "ror_logo.png", :height => "16px" %>
    </footer>