
@font-face {
  font-family: 'Yantramanav-Black';
  font-style: normal;
  font-weight: 900;
  src: local('Yantramanav Black'), local('Yantramanav-Black'), url('Yantramanav-Black.woff2') format('woff2');
}


@font-face {
  font-family: 'Yantramanav-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Yantramanav Light'), local('Yantramanav-Light'), url('Yantramanav-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 100;
  src: local('Yantramanav Thin'), local('Yantramanav-Thin'), url('Yantramanav-Thin.woff2') format('woff2');
}



.field{
color: #6E6E6E;
display: block;
font-family: 'Yantramanav-Light', sans-serif;
font-size: 14px;
}

.fields-show-view{
color: #6E6E6E;
font-family: 'Yantramanav', sans-serif;
font-size: 16px;
}

.fields-show-button{
color: #6E6E6E;
font-family: 'Yantramanav-Light', sans-serif;
font-size: 14.5px;
}


.th-field{
font-family: 'Yantramanav-Black', sans-serif;
font-size: 16px;
}

.fields-show-view-bold{
color: black;
font-family: 'Yantramanav', sans-serif;
font-size: 14.5px;
font-weight: bold;
}

.section{
font-family: 'Yantramanav-Black', sans-serif;
}

.section-title{
font-family: 'Yantramanav-Black', sans-serif;
font-size: 28px;
}

.black{
color: #000;
font-family: 'Yantramanav', sans-serif;
font-size: 22px;
}